@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JalnanGothic';
  src: url('~/static/fonts/JalnanGothicTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*, html {
  font-family: 'Pretendard', 'JalnanGothic', 'sans-serif'; 
  box-sizing: border-box;
  scrollbar-width: none;
}
em{
  @apply not-italic;
}
.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-truncate2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; 
  -webkit-box-orient: vertical !important;
}
.text-truncate3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important; 
  -webkit-box-orient: vertical !important;
}

/* 최대 사이즈 */
body{
  @apply w-full h-full bg-[#fff];
}
.wrap{
  @apply !max-w-[480px] m-[0_auto] bg-[#fff];
}
.offcanvas-overlay {
  @apply max-w-[480px] m-[0_auto];
}
.navigationBar{
  @apply max-w-[480px] m-[0_auto];
}

/* 폰트사이즈 */
.zoom-13 { zoom: 1.3; }
.zoom-12 { zoom: 1.2; }
.zoom-11 { zoom: 1.1; }
.zoom-09 { zoom: 0.9; }
.zoom-08 { zoom: 0.8; }
.zoom-07 { zoom: 0.7; }

/* 인트로 로딩 */
.introLoading{
  @apply absolute top-0 left-0 w-full h-[100dvh] z-[9999] bg-[url(~/assets/img/intro/intro-bg01.png)] bg-center bg-cover bg-no-repeat overflow-hidden;
  transition: height 0.6s ease;
}
.introLoading::before {
  content: '';
  @apply absolute top-0 left-0 w-full h-full z-0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.6s ease;
}
.introLoading.loadingAni::before {
  opacity: 0;
}
.introLoading.loadingAni{
  @apply h-[592px];
}
.introLoading svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 0.6s ease, top 0.6s ease, left 0.6s ease;
}
.introLoading.loadingAni svg{
  top: 20px;
  left: 16px; 
  transform: translate(0, 0) scale(1);
}

/* swiper css */
.swiper-pagination-bullet{
  @apply bg-[#fff] opacity-100;
}
.swiper-pagination-bullet-active{
  @apply bg-[#8539FF];
}

/* 사례 카테고리 css */
.cat{
  @apply absolute top-0 right-0 w-[82px] h-[24px] p-[5px_0px] rounded-[0px_16px] text-[#fff] text-[12px] font-extrabold leading-[14px] text-center z-[9];
}
.cat01{
  @apply bg-[#FF87AD];
}
.cat02{
  @apply bg-[#7139FF];
}
.cat03{
  @apply bg-[#FF9539];
}
.cat04{
  @apply bg-[#1DC8B6];
}

/* 메인 아코디언 효과 */
.ex-detail {
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.more svg {
  transition: transform 0.3s ease;
}
.more svg.rotated {
  transform: rotate(180deg);
}

/* 애니메이션 커스텀 */
.animate__delay-01s{
  animation-delay: 0.1s
}
.animate__delay-02s{
  animation-delay: 0.2s
}
.animate__delay-03s{
  animation-delay: 0.3s
}
.animate__delay-26{
  animation-delay: 2.6s
}
.animate__delay-27{
  animation-delay: 2.7s
}